$background-color: #FFFFFF;
$text-color: #000000;
$trim-color: #EEEEEE;
$second-background-color: #2E5EAA;
$extra-color: #5c95FF;

$blue-900: #000029;
$blue-700: #000242;
$blue-500: #031b5b;
$blue-300: #1C3474;
$blue-100: #354D8D;

$yellow-900: #B28316;
$yellow-700: #CB9C2F;
$yellow-500: #E4B548;
$yellow-300: #FDCE61;
$yellow-100: #FFE77A;

$bg-primary: #031B5B;
$bg-secondary: #EEEEEE;
$bg-tertiary: #1C3474;
$font-primary: #031B5B;
$font-secondary: #E4B548;
$font-tertiary: #EEEEEE;
$font-basic: #000000;